@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{


    --bg:#080808;

    --white:#f5eaea;

    --red:#ff1f4d;

    --redGlow:#ff0040;

    --darkRed:#6e1026;

    --blue:#5ec8ff;

    --blueGlow:#00aaff;
}

body{

    background:var(--bg);
    color:var(--white);

    font-family:'Share Tech Mono';

    overflow-x:hidden;
}

#site{

    opacity:0;
    visibility: hidden;
    transition: 1s;
}

#intro{
    position: fixed;
    inset: 0;
    background: black;
    z-index: 99999;
    overflow: hidden;
}

#introVideo{
    width: 100%;
    height: 100%;

    object-fit: contain;
}

#bootScreen{

    width:100vw;
    height:100vh;

    background:black;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:18px;
}

.hero-title{

    display:flex;
    flex-direction:column;
    align-items:center;
}

.username{

    font-size:.9rem;

    letter-spacing:6px;

    color:var(--red);

    margin-bottom:10px;

    opacity:.8;
}

.hero{

    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero h1{

    font-size:6rem;

    position:relative;

    letter-spacing:8px;

    color:var(--white);

    text-shadow:
    0 0 5px var(--redGlow),
    0 0 20px var(--redGlow),
    2px 0 var(--blue);
}

.glitch::before{
    color:var(--red);
    opacity:.6;
    animation:glitch1 .3s infinite;
}
.glitch::after{

    content:attr(data-text);

    position:absolute;

    color:var(--blue);
    opacity:.6;
    animation:glitch2 .25s infinite;

    left:0;
    top:0;
}

.glitch::before{

    color:red;
    animation:glitch1 .3s infinite;
}

.glitch::after{

    color:cyan;
    animation:glitch2 .25s infinite;
}

@keyframes glitch1{

    0%{transform:translate(0);}
    50%{transform:translate(-1px,1px);}
    100%{transform:translate(0);}
}

@keyframes glitch2{

    0%{transform:translate(0);}
    50%{transform:translate(1px,-1px);}
    100%{transform:translate(0);}
}

#typed{

    margin-top:20px;
    font-size:1.5rem;
}

button{


    margin-top:40px;

    padding:15px 35px;

    background:var(--red);

    border:2px solid var(--red);

    color:white;

    letter-spacing:3px;

    box-shadow:

    0 0 15px var(--red),
    0 0 40px var(--red);

    cursor:pointer;

    transition:.25s;
}

button:hover{
    background:var(--white);

    color:black;

    box-shadow:none;
}

.status{

    display:flex;
    justify-content:center;
    gap:20px;
    transform: translateY(-100px);


}

.card{
    width:250px;
    border:1px solid var(--red);
    padding:25px;
    background:rgba(255,0,64,.05);
    backdrop-filter:blur(10px);
    transition:.3s;
}

.card:hover{

    border-color:var(--red);

    box-shadow:

    0 0 15px var(--red),
    0 0 35px rgba(255,0,64,.4);

    transform:translateY(-5px);
}

#projects{

    position:relative;

    overflow:hidden;

    border:1px solid rgba(255,255,255,.15);
    transition:.3s;
    padding:100px;
}

#projects h2{

    text-align:center;
    margin-bottom:50px;
}

.grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(350px,1fr));

    gap:30px;
}

.project{

    position:relative;

    overflow:hidden;

    border:1px solid var(--red);

    box-shadow:

    0 0 20px rgba(255,0,64,.4);
}

.project img{

    width:100%;
    height:300px;
    object-fit:cover;
    display:block;


    transition:.4s;
}

.project:hover img{
    border-color:var(--red);
    box-shadow:0 0 20px var(--red);
    transform:scale(1.1);
}

.overlay{

    position:absolute;

    inset:0;

    display:flex;
    justify-content:center;
    align-items:center;

    background:rgba(0,0,0,.7);

    opacity:0;

    transition:.3s;
}

.project:hover .overlay{

    opacity:1;
}

#modalMedia img,
#modalMedia video {
    width: 100%;
    margin-top: 15px;
    border: 1px solid #00ff88;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal.hidden {
    display: none;
}

.modal-content {
    width: 90%;
    max-width: 800px;
    max-height: 85vh;
    overflow-y: auto;

    background:#0b0b0b;

    border:1px solid var(--red);

    color:var(--white);


    box-shadow:

    0 0 30px rgba(255,0,64,.25);

    border:1px solid var(--blue);
    padding: 20px;

    position: relative;
    color: #e8faff;

    box-shadow:
    0 0 20px var(--blue),
    0 0 40px rgba(255,0,60,.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 32px;
    cursor: pointer;
    color:var(--white);

    user-select: none;
}
#modalMedia img,
#modalMedia video {
    width: 100%;
    margin-top: 15px;
}

#crt{

    position:fixed;

    inset:0;

    pointer-events:none;

    opacity:.12;

    background:

    repeating-linear-gradient(

        transparent 0px,

        rgba(255,255,255,.05) 1px,

        transparent 3px

    );

    z-index:999;
}

canvas{

    position:fixed;

    inset:0;

    z-index:-1;
}

@media (max-width: 768px) {

    .hero h1 {
        font-size: 2.8rem;
    }

    #projects {
        padding: 50px 20px;
    }

    .status {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .grid {
        grid-template-columns: 1fr;
    }
    
}

.side {
    position: absolute;
    top: 60;
    bottom: 0;
    width: 122px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    z-index: 9999;
    pointer-events: none;
}

.side.left {
    left: 0;
    align-items: flex-start;
}

.side.right {
    right: 0;
    align-items: flex-end;
}

.bar {
    height: 10px;
    width: 40px;

    background:rgba(255,255,255,.2);
    box-shadow: none;

    transition: width 0.2s ease;
}

body::before{

    content:"";

    position:fixed;

    inset:0;

    background-image:

    url("noise.png");

    opacity:.08;

    mix-blend-mode:screen;

    pointer-events:none;

    z-index:998;
}